body {
    background-color: lightseagreen;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section.notes {
    margin-bottom: 50px;
    width: 50%;
}

li {
    margin-top: 10px;
}

.code {
    font-family: Courier New, Courier, monospace;
}